
services:
  web:
    build: .
    container_name: django_app
    volumes:
      - .:/codefile
    env_file:
      - .env.docker
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  bot:
    build: .
    container_name: telegram_bot
    command: python bot.py
    env_file:
      - .env.docker
    depends_on:
      - redis
      - web

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: optfindb
      POSTGRES_USER: Nephilim
      POSTGRES_PASSWORD: project7162wkfgmk
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U Nephilim -d optfindb"]
      interval: 1h
      timeout: 10s
      retries: 3
      start_period: 10s

  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
